CompileFlags:
  Add: [
    -xc,
    -std=c99,
    -Wall,
    -Wextra,
    -Wno-macro-redefined,
    -pedantic-errors,
    -DTEST_IMPLEMENTATION,
    -DFLAGS_IMPLEMENTATION,
  ]
  Remove: [-x, objective-c++, -stdlib=libc++]

  BuiltinHeaders: QueryDriver
  Compiler: gcc
  CompilationDatabase: .

Index:
  StandardLibrary: Yes
